body {
	background-color: gray;
	color: white;
	font-family: Arial, sans-serif;
}

table {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	border-collapse: collapse;
	width: 100%;
}

td {
	border: 1px solid orange;
	text-align:center;
	color: orange;
	background-color: black;
    }

th {
	text-align:center;
	color: orange;
   }
   
   a {
	   font-weight: bold;
	   color: orange;
   }
   
   form {
	background-color: #eaeaea;
	font-family: Arial, sans-serif;
	padding: 10px;
	color: black;
}

fieldset {
	padding: 10px;
}

label {
	text-align: right;
	padding-right: 10px; 
}
input,email {
	width=100%;
}
input, textarea {
	width=100%;
	margin-top: 10px;
} 
#mySubmit {
	margin-left: 110px; 
}
#myReset {
	margin-left: 110px; 
}
iframe{
	width: 426;
	height: 240;
	border: 0;
	padding: 5px;
}
